@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Playfair+Display');
* {
    box-sizing: border-box;
}

body {
    background-color: #C3C1BB;
    font-family: 'Josefin Sans', Arial, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    font-family: 'Playfair Display', 'Times New Roman', 'Times New Roman', Times, serif;
    text-align: center;
    border-bottom: 5px solid #532E57;
    border-radius: 12px;
}

li {
    list-style: none;
    display: inline-block;
    float: left;
}

picture img {
    max-width: 90%;
    margin-bottom: 25px;
    border: 3px solid #532E57;
    box-shadow: 2px 2px 4px #7F6A89;
}

.col {
    width: 90%;
    padding: 1rem;
    margin: 1rem auto;
    display: block;
    clear: both;
    float: none;
    overflow: auto;
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
}

footer {
    text-align: center;
    font-size: 20px;
}


/* Responsive */

@media screen and (max-width: 600px) {/* One Column Layout */
    .col {
        width: 90%;
    }
    li {
        width: 100%;
    }
}

@media screen and (min-width: 601px) and (max-width: 1200px) { /* Two Column Layout */
    .col {
        width: 100%;
        overflow: hidden;
    }
    ul {
        width: 100%;
    }
    li { /* 100/2 */
        width: 50%;
    }
}

@media screen and (min-width: 1201px) { /* Four Column Layout */
    li { /* 100/4 */
        width: 25%;
    }
}